In [1]:
def Q1():
    print('Hello World')
    return

'Hello World'

In [16]:
def Q2():
    print('Eastern University')
    return

'Eastern University'

In [27]:
def Q3(num):
    print(num)
    return
# Q3(num = input('Type a number: '))

Type a number: 5

'5'

In [11]:
def Q4(num):
    return(num**2)

Type a number: 5

25

In [2]:
def Q5(num):
    return(num**3)

Type a number: 2

8

In [4]:
def Q6(num):
    print('The argument is', num )
    return

Type a number: 6
The argument is 6

In [ ]:
def Q7(num1, num2):
    return num1 - num2

In [ ]:
def Q8(num1,num2,num3,num4,num5):
   return num1*num2*num3*num4*num5

In [ ]:
def Q9(num):
    for i in range(num):
        print(i)
    return