In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(12)

In [3]:
index = [('One',1), ('One', 2),
        ('Two', 1), ('Two',2),
        ('Three',1), ('Three',2)]
numbers = [11,111,22,222,33,333]

q1 = pd.Series(numbers, index = index)

index = pd.MultiIndex.from_tuples(index, names=["Words", "Numbers"])
Q1 = q1.reindex(index)

In [4]:
Q2 = Q1['Three']

In [5]:
Q3 = Q1[:,2]

In [6]:
Q4 = Q1.unstack()

In [7]:
Q5 = Q4.sum()

In [8]:
q6index = [('1','a'), ('1','b'),
        ('2', 'a'), ('2','b'),
        ('3','a'), ('3','b')]
q6_df = pd.DataFrame(np.random.randint(9, size=(6,2)),
                    index = q6index,
                    columns=['A','B'])

q6index = pd.MultiIndex.from_tuples(q6index)
#q6index

Q6 = q6_df.reindex(q6index)

In [9]:
q7index = pd.MultiIndex.from_product([['ONE','TWO','THREE'],['one','two']],
                                    names = ['Number','number'])
q7col = pd.MultiIndex.from_product([['A','B'],['a','b','c','d']],
                                  names = ['Letter','letter'])
q7data = np.random.randint(20, size=(6,8))
Q7 = pd.DataFrame(q7data, index = q7index, columns = q7col)

In [10]:
Q8 = Q7['B']

In [11]:
q9data1 = {'ONE':7,'TWO':8,'THREE':9,'FOUR':10}
q9data2 = {'THREE':11,'FOUR':12,'FIVE':13,'SIX':14}
q9ser1 = pd.Series(q9data1, index =['ONE','TWO','THREE','FOUR'])
q9ser2 = pd.Series(q9data2, index=['THREE','FOUR','FIVE','SIX'])

Q9 = pd.concat([q9ser1, q9ser2], axis = 1)

In [12]:
Q10 = pd.concat([q9ser1, q9ser2])

In [13]:
Q11 = pd.concat([q9ser1, q9ser2], keys=['A', 'B'])

In [29]:
q12data = {'SEVEN':15,'EIGHT':16}
q12 = pd.Series(q12data, index = ['SEVEN','EIGHT'])
q12 = pd.DataFrame(q12, columns=['B'])

q9 = pd.concat([q9ser1, q9ser2], axis = 1)
q9.columns = ['A','B']

Q12 = pd.concat([q9.iloc[[4]], q9.iloc[[3]], q9.iloc[[0]], q9.iloc[[5]], q9.iloc[[2]], q9.iloc[[1]], q12])

          A     B
FIVE    NaN  13.0
FOUR   10.0  12.0
ONE     7.0   NaN
SIX     NaN  14.0
THREE   9.0  11.0
TWO     8.0   NaN
SEVEN   NaN  15.0
EIGHT   NaN  16.0