In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create a series containing odd numbers 3 to 11.
q1 = pd.Series(range(3,12,2))

# Assign just the values of the series to Q1.
Q1 = q1.values

# Assign just the indices of the series to Q2. 
Q2 = q1.index

In [29]:
# Index to obtain the third value of the series.  Assign it to Q3. 

Q3 = q1[2]

7

In [7]:
# Slice the series to obtain the following:

Q4 = q1.loc[2:3]

2    7
3    9
dtype: int64

In [10]:
Q5 = pd.Series([3,5,7,9,11], 
               index=['three','five','seven','nine','eleven'])

three      3
five       5
seven      7
nine       9
eleven    11
dtype: int64

In [11]:
q6_dict = {'Da':'ta', 'Sc':'ie', 'nc':'ef', 'or':'all'}
Q6 = pd.Series(q6_dict)

Da     ta
Sc     ie
nc     ef
or    all
dtype: object

In [12]:
Q7 = Q6['nc']

'ef'

In [15]:
Q8 = Q6[1:4]

Sc     ie
nc     ef
or    all
dtype: object

In [22]:
q9_dict1 = {'A':'a','B':'b','C':'c'}
q9_dict2 = {'A':1,'B':2,'C':3}

q9_series = pd.Series(q9_dict1, q9_dict2)

Q9 = pd.DataFrame({
    'lowercase':q9_dict1,
    'numbers':q9_dict2
})

  lowercase  numbers
A         a        1
B         b        2
C         c        3

In [24]:
# Assign Q9â€™s row and column indices to Q10 and Q11, respectively.

Q10 = Q9.index
Q11 = Q9.columns

Index(['lowercase', 'numbers'], dtype='object')

In [33]:
Q12 = Q9['numbers']

A    1
B    2
C    3
Name: numbers, dtype: int64